trigger:
  - main
pool:
  vmImage: windows-latest
steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 12.x
    displayName: Install Node.js
  - script: |
      npm install
      npm install codeceptjs playwright --save
    displayName: 'Install npm, codecept'
  - script: |
      npm install        
      npx codeceptjs  run -c codecept.conf.js 
    displayName: Run Tests
  - task: PublishTestResults@2
    inputs:
      testResultsFormat: JUnit
      testResultsFiles: '**/TEST_1Windows.xml'
      mergeTestResults: true
      failTaskOnFailedTests: true
      testRunTitle: TestResults
      publishRunAttachments: false
